<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<!-- linking css file with html file -->
	<link rel="stylesheet" th:href="@{style2.css}">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<meta charset="UTD-8" ; <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

	<title>All products</title>

</head>

<body>

		<!--Top Navigation bar-->

		
		<div class="navbar">
			<img class="logo" src="source_images/logo.png">

			<a class="dropbtn">Home
			</a>
			<a class="dropbtn">About Us
			</a>
			<a class="dropbtn">Contact Us
			</a>


			<div class="dropdown">
				<button class="dropbtn">Account
					<i class="fa fa-caret-down"></i>
				</button>
			
				<div class="dropdown-content">
					<a href="#">Cart</a>
					<a href="#">Wish List</a>
					<a href="#">Wallet</a>
					<a href="#">Log out</a>
				
				</div>
			</div>
		</div>

		<div class="mainbody">
		<!--end of Top Navigation bar-->
			<br>
			<br>
		<h1 style="margin:0 auto; font-size: 50px; color: rgb(66, 185, 86);" >Congratulations! Product registered sucessfully.  </h1>

		</div>
</body>
</html>

